<div class='box-large round col-md-9 col-sm-9 col-xs-9'>
	<div class='rounded-charts col-md-4 col-sm-4 col-xs-4'>
		<div class='dashboard-header statistics'>
			<span>Signatures</span>
			<%= link_to "See All", signatures_path %>
		</div>
		<%= render :partial => 'graph_signature.html.erb' %>
	</div>
	<div class='rounded-charts col-md-4 col-sm-4 col-xs-4'>
    	<div class='dashboard-header statistics'>
    		<span>Sources</span>

    	</div>
    	<%= render :partial => 'graph_source_ips.html.erb' %>
    </div>
    <div class='rounded-charts col-md-4 col-sm-4 col-xs-4'>
    	<div class='dashboard-header statistics'>
    		<span>Destinations</span>
    	</div>
    		<%= render :partial => 'graph_destination_ips.html.erb' %>
    </div>
    <div class='mixed-charts col-md-12 col-sm-12 col-xs-12'>
    	<div id='box-tabs1' class='dropdown' role='presentation'>
    		<span class='dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' role='button' aria-expanded='false'>
            	Sensors
                <span class='glyphicon glyphicon-triangle-bottom' aria-hidden='true'></span>
            </span>
           	<ul id="box-menu1" class='dropdown-menu' role='menu' aria-labelledby='drop6'>
               	<li class='active' role='presentation'>
               		<%= link_to "Sensors", '#', :class => 'show_events_graph', role: 'menuitem' %>
               	</li>
               	<li role='presentation'>
               		<%= link_to "Severities", '#', :class => 'show_severities_graph', role: 'menuitem' %>
               	</li>
               	<li role='presentation'>
               		<%= link_to "Protocols", '#', :class => 'show_protocol_graph', role: 'menuitem' %>
               	</li>
            </ul>
        </div>
        <div class='box-large-inside'>
        	<%= render :partial => 'graph_event.html.erb' %>
            <%= render :partial => 'graph_severity.html.erb' %>
    		<%= render :partial => 'graph_protocol.html.erb' %>
        </div>
    </div>
</div>
