<!DOCTYPE html>

<%= render :partial => 'layouts/version.html.erb' %>

<html class='login'>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <title><%= content_for?(:title) ? yield(:title) : "Bricata #{Bricata::VERSION}" %></title>

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Bricata - Always on guard" />
    <link rel="icon" href="/favicon.png" type="image/png" />

    <%= csrf_meta_tag %>

    <script type="text/javascript" charset="utf-8">
      baseuri = '';
      var snorby_url = "<%= request.protocol %><%= escape_javascript request.host %>";
    </script>

    <%= include_stylesheets :bricata, :media => 'all' %>
    <%= include_javascripts :bricata %>

  </head>

  <body class='login'>
    <div id="login">
      <%= image_tag 'login.png', width: '500px', style: 'padding-bottom: 20px' %>
      <%= yield %>
      <hr>
      <div class="login-footer">
      &copy; <%= Time.now.year %> <br /><br />
        Bricata <%= Bricata::VERSION %> - <%= link_to 'http://www.bricata.com', 'http://www.bricata.com' , :target => "_BLANK"%>
      </div>
    </div>
    <div id="license">
      <%= image_tag 'login.png', width: '230px', style: 'padding-bottom: 20px' %>
      <div id='licenseTitle'>
          Before we start, please read END USER LICENSE AGREEMENT
      </div>
      <div id='licenseText'>
        <%= render :partial => 'layouts/license.html' %>
      </div>
      <div id='licenseButtons'>
        <button id='agreeLicense'>I'VE READ AND AGREE</button>
        <button id='cancelLicense'><a href='/users/logout'>Cancel</a></button>
      </div>
    </div>


    <%- flash.each do |type, message| -%>
      <script type="text/javascript" charset="utf-8">
        flash_message.push({type: "<%= type %>", message: "<%= message %>"}); flash();
      </script>
    <%- end -%>

  </body>
</html>
