<% content_for :footer do %>

	<script type="text/javascript">

	areaChart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'sev1-graph',
            defaultSeriesType: 'area',
            marginRight: 0,
            marginLeft: 0,
            marginTop: 0,
            marginBottom: 0,
            width: 250,
            height: 100,
            borderColor: 'transparent',
            borderWidth: 0,
            backgroundColor: '#fff'
        },
        plotOptions: {
            area: {
                fillColor: '#FFE5E5',
                lineWidth: 2,
                states: {
                	hover: {
                    	lineWidth: 2
                    }
                }
            }
        },
        exporting: {
            enabled: false
        },
        title: {
            text: null
        },
        xAxis: {
            labels: {
                enabled: false
            }
        },
        yAxis: {
            min: 0,
            gridLineWidth: 0,
            title: {
                text: ''
            },
            labels: {
                enabled: false
            }
        },
        tooltip: {
            formatter: function () {
                return this.y + ' Events';
            }
        },
        legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        series: [{
            marker: {
                enabled: false
            },
            name: '',
            color: '#f00',
            data: [<%= @high.join(',') %>]
        }]
    });

	areaChart2 = new Highcharts.Chart({
        chart: {
            renderTo: 'sev2-graph',
            defaultSeriesType: 'area',
            marginRight: 0,
            marginLeft: 0,
            marginTop: 0,
            marginBottom: 0,
            width: 250,
            height: 100,
            borderColor: 'transparent',
            borderWidth: 0,
            backgroundColor: '#fff'
        },
        plotOptions: {
            area: {
                fillColor: '#FCF3EA',
                lineWidth: 2,
                states: {
                	hover: {
                    	lineWidth: 2
                    }
                }
            }
        },
        exporting: {
            enabled: false
        },
        title: {
            text: null
        },
        xAxis: {
            labels: {
                enabled: false
            }
        },
        yAxis: {
            min: 0,
            gridLineWidth: 0,
            title: {
                text: ''
            },
            labels: {
                enabled: false
            }
        },
        tooltip: {
            formatter: function () {
                return this.y + ' Events';
            }
        },
        legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        series: [{
            marker: {
                enabled: false
            },
            name: '',
            color: '#FF9000',
            data: [<%= @medium.join(',') %>]
        }]
    });

	areaChart3 = new Highcharts.Chart({
        chart: {
            renderTo: 'sev3-graph',
            defaultSeriesType: 'area',
            marginRight: 0,
            marginLeft: 0,
            marginTop: 0,
            marginBottom: 0,
            width: 250,
            height: 100,
            borderColor: 'transparent',
            borderWidth: 0,
            backgroundColor: '#fff'
        },
        plotOptions: {
            area: {
                fillColor: '#F0F6E5',
                lineWidth: 2,
                states: {
                	hover: {
                    	lineWidth: 2
                    }
                }
            }
        },
        exporting: {
            enabled: false
        },
        title: {
            text: null
        },
        xAxis: {
            labels: {
                enabled: false
            }
        },
        yAxis: {
            min: 0,
            gridLineWidth: 0,
            title: {
                text: ''
            },
            labels: {
                enabled: false
            }
        },
        tooltip: {
            formatter: function () {
                return this.y + ' Events';
            }
        },
        legend: {
            enabled: false
        },
        credits: {
            enabled: false
        },
        series: [{
            marker: {
                enabled: false
            },
            name: '',
            color: '#67A800',
            data: [<%= @low.join(',') %>]
        }]
    });
	</script>

<% end %>

<div class='col-md-4 alpha box' data-url='<%= results_path(:title => "High Severity Events", :authenticity_token => form_authenticity_token, :match_all => true,
	:search => { :sev => { :column => :severity, :operator => :is, :value => 1 },
	:stime => {:column => :start_time, :operator => :gte, :value => "#{@start_time.utc.strftime("%Y-%m-%d %H:%M:%S")}"},
	:etime => {:column => :end_time, :operator => :lte, :value => "#{@end_time.utc.strftime("%Y-%m-%d %H:%M:%S")}"}
}) %>'>
	<div class='area-chart'>
			<div class='box-graph' id='sev1-graph'></div>
			<div class='box-text'>
				<div class='box-count'>
					<%= @high.sum %>
				</div>
				<div class="box-title">
					High Severity
				</div>
				<div class='box-title'>
					<%= number_with_delimiter @high.sum %> / <%= number_with_delimiter @event_count %>
				</div>
			</div>
	</div>
</div>

<div class='col-md-4 alpha box' data-url='<%= results_path(:title => "Medium Severity Events", :authenticity_token => form_authenticity_token, :match_all => true,
	:search => { :sev => { :column => :severity, :operator => :is, :value => 2 },
	:stime => {:column => :start_time, :operator => :gte, :value => "#{@start_time.utc.strftime("%Y-%m-%d %H:%M:%S")}"},
	:etime => {:column => :end_time, :operator => :lte, :value => "#{@end_time.utc.strftime("%Y-%m-%d %H:%M:%S")}"}
}) %>'>
	<div class='area-chart'>
		<div class='box-graph' id='sev2-graph'></div>
		<div class='box-text'>
			<div class='box-count'>
				<%= @medium.sum %>
			</div>
			<div class="box-title">
				Medium Severity
			</div>
			<div class='box-title'>
				<%= number_with_delimiter @medium.sum %> / <%= number_with_delimiter @event_count %>
			</div>
		</div>
	</div>
</div>
<div class='col-md-4 alpha box' data-url='<%= results_path(:title => "Low Severity Events", :authenticity_token => form_authenticity_token, :match_all => true,
	:search => { :sev => { :column => :severity, :operator => :is, :value => 3 },
	:stime => {:column => :start_time, :operator => :gte, :value => "#{@start_time.utc.strftime("%Y-%m-%d %H:%M:%S")}"},
    :etime => {:column => :end_time, :operator => :lte, :value => "#{@end_time.utc.strftime("%Y-%m-%d %H:%M:%S")}"}
}) %>'>
	<div class='area-chart'>
    	<div class='box-graph' id='sev3-graph'></div>
    	<div class='box-text'>
    		<div class='box-count'>
    			<%= @low.sum %>
    		</div>
    		<div class="box-title">
    			Low Severity
    		</div>
    		<div class='box-title'>
    			<%= number_with_delimiter @low.sum %> / <%= number_with_delimiter @event_count %>
    		</div>
    	</div>
    </div>
</div>